@charset "utf-8";

#banner img{
    height: 226px;
}
#titulo{
    font-size: 1.5em;
}
#text p#earth, #text p#soon, #text p#saturn, #text #jupiter, #text #uranus, #text #neptune{
    width: 500px;
    
}