@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root{
    --fonte1: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#banner{
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding-bottom: 10px;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 1.5em;
    background-attachment: fixed;
    background-size: cover;
}
#banner img{
    width: 100vw;
    object-fit: cover;
    top: 0;
    left: 0;
    position: relative;
    height: 150px;
    opacity: .5;
}
#titulo{
    position: absolute;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    font-size: .7em;
    padding: 6px;
    border-radius: 10px;
    text-shadow: 3px 3px 3px rgb(60, 40, 173);
    box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.322);
}
body{
    background-color: black;
    background-image: url(imagens/elementos-do-sistema-solar-desta-imagem-fornecidos-pela-nasa_103740-1977.avif);
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
}
p{
    font-family: sans-serif;
    background-color: rgb(145, 54, 54);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(241, 241, 241, 0.733);
    margin:  10px;
    text-transform: uppercase;
    text-indent: 1.5em;
    line-height: 2em;
    padding-left: 10px;
    width: 500px;
    
}
video {
    width: 300px;
    height: 300px;
    display: flex;
}
#text1 p#mercury{
    z-index: 1;
    top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    text-indent: 1.5em;
    width: 350px;
    line-height: 2em;
    left: 10px;
    font-weight: bolder;
}
#text2 p#venus{
    z-index: 1;
    top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
    text-indent: 1.5em;
    width: 350px;
    line-height: 2em;
    display: flex;
    font-weight: bolder;
}
#text3 p#earth{
    z-index: 1;
    padding-left: 10px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
    text-indent: 1.5em;
    width: 350px;
    line-height: 2em;
    font-weight: bolder;
    display: flex;
    
}
#text4 p#marte{
    z-index: 1;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    text-indent: 1.5em;
    width: 350px;
    line-height: 2em;
    left: 10px;
    font-weight: bolder;
    
}
#text5 p#jupiter{
    z-index: 1;
    top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    text-indent: 1.5em;
    width: 350px;
    line-height: 2em;
    left: 10px;
    font-weight: bolder;
}

#text6 p#saturn{
    z-index: 1;
    top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    text-indent: 1.5em;
    width: 350px;
    line-height: 2em;
    left: 10px;
    font-weight: bolder;
}

#text7 p#uranus{
    z-index: 1;
    top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    text-indent: 1.5em;
    width: 350px;
    line-height: 2em;
    left: 10px;
    font-weight: bolder;
}
#text8 p#neptune{
    z-index: 1;
    top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    color: white;
    text-indent: 1.5em;
    width: 350px;
    line-height: 2em;
    left: 10px;
    font-weight: bolder;
}
img{
    width:200px; 
    height:250px;
    float: right;
    position:  relative;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    cursor: pointer;
    
}
div#text2 img{
   left: 0px; 
}
div#text1,div#text2,div#text3,div#text4,div#text5,div#text6,div#text7,div#text8{
    display: flex;
    color: white;
    
}
div#conteudo img{
    left: 50px;
}
h2{
    color: white;
}





